@charset "UTF-8";
	body {
		margin: 0;
	}
	/* -------------------------------------------------------------------- */
 	/* Head */
 	#wrapper {
			height: 100%;
	}
 	.flex-container {
            display: flex;  /* 컨테이너들 수직정렬 */
    }  
 	 .flex-container.flex-end {			/* user님 로그아웃 오른쪽 정렬 */
    		justify-content: flex-end;  /* 컨테이너의 아이템 오른쪽정렬 */
    } 
    .item_first {
    		margin-right: 10%; /* user님 로그아웃 오른쪽마진 10% */
    }
    .item_first ul li { 
			list-style: none;  /* 리스트 점 제거 */
			padding-right: 30px;  /* 글자 사이 오른쪽 간격 */
			float: left;  /* 리스트 가로 정렬 - 삭제하면 리스트 세로로 정렬됨 */
			font-size: 14px; 
			color: black; 
	}
	.item_first ul li a {
			text-decoration: none;  /* 글자 밑줄 제거 */
	}
	.item_second { 
			margin-left: 10%;
			margin-bottom: 10px; 
	}
	.item_second ul li {
			list-style: none;  /* 리스트 점 제거 */
			padding-right: 25px;  /* 글자간 패딩 간격 */
			float: left;  /* 리스트 가로 정렬 */
			font-size: 25px;  /* 중앙볼링장 글씨 크기 */
			font-weight: bolder;  /* 글씨 굵게 */
			color: black;
	}
	.item_second ul li a {
			font-size: 15px;
			text-decoration: none;  /* 글자 밑줄 제거 */
	}  
	.item_third {
			margin-left: 15%;
			margin-top: 50px;
			color: #5A8DF3;
			font-size: 20px; 
			font-weight: bolder;
	} 
	.flex-container.center {
			justify-content: center;
	}
	.item_fourth { 
			margin-bottom: 40px;
	} 
	.item_fourth ul li {
			list-style: none;
			padding-right: 40px;
			float: left;
			color: black;
	}
	.item_fourth ul li a {
			font-size: 18px;
			font-weight: bolder; 
			text-decoration: none;  /* 글자 밑줄 제거 */
	}
	/* -------------------------------------------------------------------- */
	/* 밑줄효과 */
	a {		    
		    padding-bottom: 10px;
		    color: inherit;		    
	}
	ul > li > a {
		    display: inline-block;
		    position: relative;
	}
	ul > li > a:after {
		    content:"";
		    position: absolute;
		    left: 50%;
		    bottom: 0;
		    width: 0;
		    height: 2px;
		    background-color: #5A8DF3;
		    transition: all .5s;
	}
	ul > li > a:before {
		    content:"";
		    position: absolute;
		    right: 50%;
		    bottom: 0;
		    width: 0;
		    height: 2px;
		    background-color: #5A8DF3;
		    transition: all .5s;
	}
	ul > li > a:hover:after {
    		width: 50%
	}
	ul > li > a:hover:before {
    		width: 50%
	}
	
	/* -------------------------------------------------------------------- */
	/* 게시판 내용 */
	.flex-container.center {
			justify-content: center; /* 내용 가운데 정렬 */
	}
	table {
		    width: 90%;
			border-top: 2px solid #444444;
			border-bottom: 2px solid #444444;
		    border-collapse: collapse;
		    margin: auto;
		    margin-top: 60px;
	}
  	th{
	  		padding: 10px;
	  		text-align: center;
 	 }
	td {
			border-bottom : 1px solid black;
		    padding: 10px;
		    font-size: 75%;
		    text-align: center;
		    font-size: 14px;
	}
  	input {
	  		height: 30px;  /* 입력창 높이 */
			border-radius: 12px;  /* 테두리 모서리 둥굴게 */
			border-color: #EAEAEA; /* 테두리 색상 */	
  	}
  	input.button {
			margin-right: 50px;
  	}
	.flex-container.right {
			margin-top: 50px;
			margin-left: 96%;
			float: right;
	}
  	.button {
  			float: right;
  			position: relative;
			border: 0;
			margin-right: 30px;
			height: 30px;
			width: 60px;
			background-color: #90C3FF;
			text-align: center;
			font-weight: bold; 
			color: white; 
			border-radius: 12px;
			box-shadow: 0px 3px 0px #5A8DF3; 
  	}
	
	.button:active { 
			box-shadow: 0 0 #90C3FF; 
			background-color: #90C3FF;
			top: 3px;
	}
	.button2 {
			position: relative;
			border: 0;
			width: 60px;
			background-color: #90C3FF;
			text-align: center;
			font-weight: bold; 
			color: white;
			border-radius: 12px;
			box-shadow: 0px 3px 0px #5A8DF3; 
	}
	.button2:active {
			box-shadow: 0 0 #90C3FF; 
			background-color: #90C3FF;
			top: 3px;
	}
	#search{
			position: relative;
	  		width: 400px;
	  		margin: auto;
	  		margin-top: 50px;
	}
	#srh_input{
			width: 200px;
		  	border: 1px solid #bbb;
		 	border-radius: 8px;
		  	padding: 3px 12px;
		  	font-size: 14px;
	}
	#srh_select{
			border: 1px solid #bbb;
		 	border-radius: 8px;
		  	padding: 8px 10px;
		  	font-size: 14px;
	}
	.list_title {
			text-decoration: none;
	}		
	.page {
			margin-top: 100px;
			text-decoration: none; 
	}
	/* -------------------------------------------------------------------- */
	/* Foot */							   
	.item_end {   
			margin-top: 30px; 
			width: 100%;  
			background-color: black;
    		color: white;
    		font-size: 12px;
		    display: flex; 
		    height: 100px;
		    flex-direction: column;
		    align-content: center;
		    justify-content: space-around;
		    align-items: center;
	}
	/* -------------------------------------------------------------------- */
	/* 상단으로 가는 버튼 */
	a.button_top {
      text-decoration: none;
      display: block; 
      position: relative;
      width: 50px;
      padding: 0;
      margin: 20px;
      font-weight: 600;
      text-align: center;
      line-height: 50px;
      color: #FFF;
      border-radius: 50px;
      transition: all 0.2s ;
      background: #90C3FF;
      box-shadow: 0px 0px 0px 0px #5A8DF3;
   } 
   .button_top:hover {
      box-shadow: 0px 0px 0px 5px #5A8DF3;
   }