	body {
		margin: 0;			
	}
	/* -------------------------------------------------------------------- */	
	#wrapper {
			height: 100%;
	}
	.flex-container {
            display: flex;  /* 컨테이너들 수직정렬 */
    }  
    .flex-container.flex-end {
    		justify-content: flex-end;  /* 컨테이너의 아이템 오른쪽정렬 */
    } 
    .item_first {
    		margin-right: 10%; /* user님 로그아웃 오른쪽마진 10% */
    }
	.item_first ul li { 
			list-style: none;  /* 리스트 점 제거 */
			padding-right: 30px;  /* 글자 사이 오른쪽 간격 */
			float: left;  /* 리스트 가로 정렬 - 삭제하면 리스트 세로로 정렬됨 */	
			font-size: 14px;		 
			color: black; 
	} 
	.item_first ul li a {
			text-decoration: none;
			
	}
	.item_second { 
			margin-left: 10%;
			margin-bottom: 10px; 
	}
	.item_second ul li {
			list-style: none;  /* 리스트 점 제거 */
			padding-right: 25px;  /* 글자간 패딩 간격 */
			float: left;  /* 리스트 가로 정렬 */
			font-size: 25px;  /* 중앙볼링장 글씨 크기 */
			font-weight: bolder;  /* 글씨 굵게 */
			color: black;
	}
	.item_second ul li a {
			font-size: 15px;
			text-decoration: none;  /* 글자 밑줄 제거 */
	}  
	.item_third {
			margin-left: 15%;
			margin-top: 50px;
			color: #5A8DF3;
			font-size: 20px; 
			font-weight: bolder;
	} 
	
	.flex-container.center {
			justify-content: center;
	}
	.item_fourth { 
			margin-bottom: 40px;
	} 
	.item_fourth ul li {
			list-style: none;
			padding-right: 40px;
			float: left;
			color: black;
	}  
	.item_fourth ul li a {
			font-size: 18px;
			font-weight: bolder; 
			text-decoration: none;  /* 글자 밑줄 제거 */
	}
	
	/* -------------------------------------------------------------------- */
	/* 밑줄효과 */
	a {		    
		    padding-bottom: 10px;
		    color: inherit;		    
	}
	ul > li > a {
		    display: inline-block;
		    position: relative;
	}
	ul > li > a:after {
		    content:"";
		    position: absolute;
		    left: 50%;
		    bottom: 0;
		    width: 0;
		    height: 2px;
		    background-color: #5A8DF3;
		    transition: all .5s;
	}
	ul > li > a:before {
		    content:"";
		    position: absolute;
		    right: 50%;
		    bottom: 0;
		    width: 0;
		    height: 2px;
		    background-color: #5A8DF3;
		    transition: all .5s;
	}
	ul > li > a:hover:after {
    		width: 50%
	}
	ul > li > a:hover:before {
    		width: 50%
	}

	/* -------------------------------------------------------------------- */			
	.name 		{
				margin-top: 150px;
				color: #5596d1;
				font-weight: bolder;				
				}
	#main_text {
				text-align: center;
				font-size: 15px;				
				}
	/* -------------------------------------------------------------------- */	
	/* 이미지 포함 테두리 */
	#main_textbox {
				display: table; 
				width: 960px; 
				height: 40px;
				margin: auto;
				}
	#main_textbox ul li		{
				list-style: none;       /* 점표시 없애기 */
				}
	/* 이미지 밑 문장 */
	p			{
				text-align: center;
				}
	span	 	{
				text-align: left;
				font-size: 18px;
				font-weight: bolder;
				}
	#text	 	{
				float: left;
				font-size: 15px;
				margin-bottom: 50px;
				}
	/* -------------------------------------------------------------------- */	
	/* 테이블 스타일 */
	 table 		{
	 			margin: auto; 
	 			width: 70%;
	 			height: auto;
	 			margin-top: 30px;
	 			margin-bottom: 30px;	 			
	 			text-align:center;  				
	 			}
	 th, td 	{
				width: 50%;   
			    padding: 10px;
			    font-size: 16px;			    
			  	}
	
	/* -------------------------------------------------------------------- */
	/* 하단내용 영역 */							   
	.item_end {   
			margin-top: 30px; 
			width: 100%;  
			background-color: black;
    		color: white;
    		font-size: 12px;
		    display: flex; 
		    height: 100px;
		    flex-direction: column;
		    align-content: center;
		    justify-content: space-around;
		    align-items: center;
	}
	/* -------------------------------------------------------------------- */
	/* 상단으로 가는 버튼 */
	a.button_top {
      text-decoration: none;
      display: block; 
      position: relative;
      width: 50px;
      padding: 0;
      margin: 20px;
      font-weight: 600;
      text-align: center;
      line-height: 50px;
      color: #FFF;
      border-radius: 50px;
      transition: all 0.2s ;
      background: #90C3FF;
      box-shadow: 0px 0px 0px 0px #5A8DF3;
   } 
   .button_top:hover {
      box-shadow: 0px 0px 0px 5px #5A8DF3;
   }