/* 테두리 생성(모든 div)*/      
	div {                      
		border: 1px solid rgb(255, 255, 255);
		}
	body {
		margin: 0;
	}

	/* -------------------------------------------------------------------- */			
	#wrapper {
			height: auto;
			min-height: 100%;
			padding-bottom: 130px;
	}
	.flex-container {
            display: flex;  /* 컨테이너들 수직정렬 */
    }  
 	 .flex-container.flex-end {			/* user님 로그아웃 오른쪽 정렬 */
    		justify-content: flex-end;  /* 컨테이너의 아이템 오른쪽정렬 */
    } 
    .item_first {
    		margin-right: 10%; /* user님 로그아웃 오른쪽마진 10% */
    }
    .item_first ul li { 
			list-style: none;  /* 리스트 점 제거 */
			padding-right: 30px;  /* 글자 사이 오른쪽 간격 */
			float: left;  /* 리스트 가로 정렬 - 삭제하면 리스트 세로로 정렬됨 */
			font-size: 14px; 
			color: black; 
	}
	.item_first ul li a {
			text-decoration: none;  /* 글자 밑줄 제거 */
	}
	.item_second { 
			margin-left: 10%;
			margin-bottom: 10px; 
	}
	.item_second ul li {
			list-style: none;  /* 리스트 점 제거 */
			padding-right: 25px;  /* 글자간 패딩 간격 */
			float: left;  /* 리스트 가로 정렬 */
			font-size: 25px;  /* 중앙볼링장 글씨 크기 */
			font-weight: bolder;  /* 글씨 굵게 */
			color: black;
	}
	.item_second ul li a {
			font-size: 15px;
			text-decoration: none;  /* 글자 밑줄 제거 */
			font-weight: 600;
	}  
	.item_third {
			margin-left: 15%;
			margin-top: 50px;
			color: #5A8DF3;
			font-size: 20px; 
			font-weight: bolder;
	} 
	.flex-container.center {
			justify-content: center;
	}
	.item_fourth { 
			margin-bottom: 60px;
	} 
	.item_fourth ul li {
			list-style: none;
			padding-right: 40px;
			float: left;
			color: black;
	}
	.item_fourth ul li a {
			font-size: 17px;
			font-weight: bolder; 
			text-decoration: none;  /* 글자 밑줄 제거 */
	}
	/* -------------------------------------------------------------------- */
	/* 밑줄효과 */
	a {		    
		    padding-bottom: 10px;
		    color: inherit;		    
	}
	ul > li > a {
		    display: inline-block;
		    position: relative;
	}
	ul > li > a:after {
		    content:"";
		    position: absolute;
		    left: 50%;
		    bottom: 0;
		    width: 0;
		    height: 2px;
		    background-color: #5A8DF3;
		    transition: all .5s;
	}
	ul > li > a:before {
		    content:"";
		    position: absolute;
		    right: 50%;
		    bottom: 0;
		    width: 0;
		    height: 2px;
		    background-color: #5A8DF3;
		    transition: all .5s;
	}
	ul > li > a:hover:after {
    		width: 50%
	}
	ul > li > a:hover:before {
    		width: 50%
	}
	/* -------------------------------------------------------------------- */
	#place		{
				margin: auto;
				width:	960px;
				margin-top: 50px;
				padding: 15px;
				color: #5596d1;
				}
	/* 길찾기 버튼 */
	#way		{
				float: right;
				border: 0;				
				width:	65px;
				height: 40px;
				text-align: center;			
				font-size: 15px;
				font-weight: bolder;
				margin-right: 10px;
				color:white;
				background-color: #5596d1;				
				cursor: pointer;
				border-radius: 12px;								
				}
	/* 지도에서보기 버튼 */
	#map		{
				float: right;
				border: 0;	
				width:	100px;
				height: 40px;
				text-align: center;			
				font-size: 15px;
				font-weight: bolder;
				color:white;				
				background-color: #5596d1;				
				cursor: pointer;
				border-radius: 12px;				
				}
	#main_textbox {
				display: table; 
				width: 960px; 
				height: 40px;
				margin: auto;
				margin-bottom: 50px;	 			
				}
	#main_text {
				width: 960px;
				margin-top: 30px;			
	 			padding: auto;
				}
	#address	{
				width: 960px;
				padding: auto;
				font-size: 26px;
				line-height: 38px;
				font:bolder;
				color: #5596d1
				}
	#parking	{
				font-style: italic;
				}
	/* 테이블 스타일 */
	 table 		{	 			
	 			width: 100%;
	 			height: auto;	 				 			 
	 			}	 			
	 th, td 	{
			    border: 1px solid #444444;
			    padding: 15px;
			  	}
	/* -------------------------------------------------------------------- */
	/* 하단내용 영역 */							   
	#footer {
			clear: both; 				/* 양쪽 float 해제(contents,sidebar의 float을 따라가지 않는다.) */
			padding: 20px;    			/* 테두리 안에 여백 */
			background-color: black;    /* 영역 배경 색상 */
			color: white;               /* 글자 색상 */
			}
	nav {
		text-align: center;  /* 글자 정렬 */
		}
	/* -------------------------------------------------------------------- */
	/* 상단으로 가는 버튼 */
	a.button_top {
      text-decoration: none;
      display: block; 
      position: relative;
      width: 50px;
      padding: 0;
      margin: 20px;
      font-weight: 600;
      text-align: center;
      line-height: 50px;
      color: #FFF;
      border-radius: 50px;
      transition: all 0.2s ;
      background: #90C3FF;
      box-shadow: 0px 0px 0px 0px #5A8DF3;
   } 
   .button_top:hover {
      box-shadow: 0px 0px 0px 5px #5A8DF3;
   }