@charset "UTF-8";

   a {          
          padding-bottom: 10px;
          color: inherit;          
   }
   ul > li > a {
          display: inline-block;
          position: relative;
   }
   ul > li > a:after {
          content:"";
          position: absolute;
          left: 50%;
          bottom: 0;
          width: 0;
          height: 2px;
          background-color: #5A8DF3;
          transition: all .5s;
   }
   ul > li > a:before {
          content:"";
          position: absolute;
          right: 50%;
          bottom: 0;
          width: 0;
          height: 2px;
          background-color: #5A8DF3;
          transition: all .5s;
   }
   ul > li > a:hover:after {
          width: 50%
   }
   ul > li > a:hover:before {
          width: 50%
   }      /* 밑줄효과 */
	 body {
 	 		margin: 0;
 	} 
 	.flex-container {
            display: flex;  /* 컨테이너들 수직정렬 */
    }  
 	 .flex-container.flex-end {			/* user님 로그아웃 오른쪽 정렬 */
    		justify-content: flex-end;  /* 컨테이너의 아이템 오른쪽정렬 */
    } 
    .item_first {
    		margin-right: 10%; /* user님 로그아웃 오른쪽마진 10% */
    }
    .item_first ul li { 
			list-style: none;  /* 리스트 점 제거 */
			padding-right: 30px;  /* 글자 사이 오른쪽 간격 */
			float: left;  /* 리스트 가로 정렬 - 삭제하면 리스트 세로로 정렬됨 */
			font-size: 14px; 
			color: black; 
	}
	.item_first ul li a {
			text-decoration: none;  /* 글자 밑줄 제거 */
	}
	.item_second { 
			margin-left: 10%;
			margin-bottom: 10px; 
	}
	.item_second ul li {
			list-style: none;  /* 리스트 점 제거 */
			padding-right: 25px;  /* 글자간 패딩 간격 */
			float: left;  /* 리스트 가로 정렬 */
			font-size: 25px;  /* 중앙볼링장 글씨 크기 */
			font-weight: bolder;  /* 글씨 굵게 */
			color: black;
	}
	.item_second ul li a {
			font-size: 15px;
			text-decoration: none;  /* 글자 밑줄 제거 */
			font-weight: 600;
	}  
	.item_third {
			margin-left: 15%;
			margin-top: 50px;
			color: #5A8DF3;
			font-size: 20px; 
			font-weight: bolder;
	} 
	.flex-container.center {
			justify-content: center;
	}
	.item_fourth { 
			margin-bottom: 60px;
	} 
	.item_fourth ul li {
			list-style: none;
			padding-right: 40px;
			float: left;
			color: black;
	}
	.item_fourth ul li a {
			font-size: 17px;
			font-weight: bolder; 
			text-decoration: none;  /* 글자 밑줄 제거 */
	}
	.item_fifth {
			list-style: none;
			float: left;
			color: black;
	} 

	label {
			font-size: 15px;
			line-height: 2rem;
			padding: 0.2em 0.4em;
	}
	span {
  			vertical-align: middle;
	}
/* 	[type="radio"] {
  			vertical-align: middle;
	} */
	.item_sixth {
 			margin-top: 50px;   /* 버튼 마진 */
 			margin-bottom: 100px;   /* 버튼 마진 */
 	}
 	button {
			position: relative;
			border: 0;
			height: 30px;
			width: 60px;
			background-color: #90C3FF;
			text-align: center;
			font-weight: bold; 
			color: white; 
			border-radius: 12px;
			box-shadow: 0px 3px 0px #5A8DF3; 
	}
	button:active { 
			box-shadow: 0 0 #90C3FF; 
			background-color: #90C3FF;
			top: 3px;
	} 
	#wrapper {
			height: 100%;
	}
	.item_end {   
			margin-top: 30px; 
			width: 100%;  
			background-color: black;
    		color: white;
    		font-size: 12px;
		    display: flex; 
		    height: 100px;
		    flex-direction: column;
		    align-content: center;
		    justify-content: space-around;
		    align-items: center;
	}
	table {
    width: 70%;
	border-top: 2px solid #444444;
	border-bottom: 2px solid #444444;
    border-collapse: collapse;
    margin: auto;
 	 }
  	th{
  		padding: 10px;
  		text-align: center;
 	 }
  
	td {
	border-bottom : 1px solid black;
    padding: 10px;
    font-size: 75%;
    text-align: center;
  }
  
  	input{
  		border: 1px solid #bbb;
	 	border-radius: 8px;
	  	padding: 8px 10px;
	  	font-size: 14px;
  	}

	#hrline {
	width: 84%;
	margin: auto;
	color : #99ccff; 
	}
	
	#wr_btn{
	
	border: 0;
	height: 30px;
	width:75px;
	background-color: #5A8DF3;
	text-align: center;
	font-weight: bold; 
	color: white; 
	border-radius: 12px;
	box-shadow: 0px 3px 0px #5A8DF3; 
	}
	 
	#delete_btn{
	
	border: 0;
	height: 30px;
	width:75px;
	background-color: #5A8DF3;
	text-align: center;
	font-weight: bold; 
	color: white; 
	border-radius: 12px;
	box-shadow: 0px 3px 0px #5A8DF3; 
	}
	#brd_Btn{
	position:relative;
	margin:auto;
	margin-left: 77%;
	
	}
	#wr_btn :active{
	box-shadow: 0 0 #90C3FF; 
	background-color: #90C3FF;
	top: 3px;
	}
 	#search{
		position: relative;
  		width: 400px;
  		margin: auto;
  		margin-top: 50px;
  	}
	#srh_input{
		width: 200px;
	  	border: 1px solid #bbb;
	 	border-radius: 8px;
	  	padding: 10px 12px;
	  	font-size: 14px;
	  	
	}
	#srh_btn {
		 position: relative;
		 top:2px;
		 background-color:#5A8DF3;
		color:#fff;
	}
	#srh_select{
		border: 1px solid #bbb;
	 	border-radius: 8px;
	  	padding: 8px 10px;
	  	font-size: 14px;
	}
	.page_wrap {
	text-align:center;
	font-size:0;
	margin-top: 30px;
	margin: auto;
	 }
	.page_nation {
		display:inline-block;
	}
	.page_nation .none {
		display:none;
	}
	.page_nation a {
		display:block;
		margin:0 3px;
		float:left;
		border:1px solid #e6e6e6;
		width:28px;
		height:28px;
		line-height:28px;
		text-align:center;
		background-color:#fff;
		font-size:13px;
		color:#999999;
		text-decoration:none;
	}
	.page_nation .arrow {
		border:1px solid #ccc;
	}
	.page_nation .pprev {
		background:#f8f8f8 url('images/page_pprev.png') no-repeat center center;
		margin-left:0;
	}
	.page_nation .prev {
		background:#f8f8f8 url('images/page_prev.png') no-repeat center center;
		margin-right:7px;
	}
	.page_nation .next {
		background:#f8f8f8 url('images/page_next.png') no-repeat center center;
		margin-left:7px;
	}
	.page_nation .nnext {
		background:#f8f8f8 url('images/page_nnext.png') no-repeat center center;
		margin-right:0;
	}
	.page_nation a.active {
		background-color:#1E90FF;
		color:#fff;
		border:1px solid #42454c;
	}
	
	
	
	
	
	