@charset "UTF-8";

a {
	padding-bottom: 10px;
	color: inherit;
}

ul>li>a {
	display: inline-block;
	position: relative;
}

ul>li>a:after {
	content: "";
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 0;
	height: 2px;
	background-color: #5A8DF3;
	transition: all .5s;
}

ul>li>a:before {
	content: "";
	position: absolute;
	right: 50%;
	bottom: 0;
	width: 0;
	height: 2px;
	background-color: #5A8DF3;
	transition: all .5s;
}

ul>li>a:hover:after {
	width: 50%
}

ul>li>a:hover:before {
	width: 50%
} /* 밑줄효과 */
body {
	margin: 0;
}

.flex-container {
	display: flex; /* 컨테이너들 수직정렬 */
}

.flex-container.flex-end {
	justify-content: flex-end; /* 컨테이너의 아이템 오른쪽정렬 */
}

.item_first {
	margin-right: 10%;
}

.item_first ul li {
	list-style: none; /* 리스트 점 제거 */
	padding-right: 30px; /* 글자 사이 오른쪽 간격 */
	float: left; /* 리스트 가로 정렬 - 삭제하면 리스트 세로로 정렬됨 */
	font-size: 14px;
	color: black;
}

.item_first ul li a {
	text-decoration: underline;
}

.item_second {
	margin-left: 10%;
	margin-bottom: 10px;
}

.item_second ul li {
	list-style: none;
	padding-right: 25px;
	float: left;
	font-size: 25px;
	font-weight: bolder;
	color: black;
}

.item_second ul li a {
	font-size: 15px;
	text-decoration: none;
	font-weight: 600; /* 글자 밑줄 제거 */
}

.item_third {
	margin-left: 15%;
	margin-top: 50px;
	color: #5A8DF3;
	font-size: 20px;
	font-weight: bolder;
}

.flex-container.center {
	justify-content: center;
}

.footer {
	margin-top: 30px;
	width: 100%;
	background-color: black;
	color: white;
	font-size: 12px;
	display: flex;
	height: 100px;
	flex-direction: column;
	align-content: center;
	justify-content: space-around;
	align-items: center;
}

#search_box {
	margin-left: 51%;
	margin-top: 6%;
	margin-bottom: -3.8%;
}

#wrapper {
	height: auto;
	min-height: 100%;
	padding-bottom: 130px;
}

.store_table {
	width: 34%;
	margin-right: 30.3%;
}

.sale_title {
	margin-left: 17%;
	margin-top: -4.5%;
}

#sales_items ul li {
	font-size: 15px;
	font-weight: bold;
	padding-bottom: 0.01%;
	list-style: none;
	margin-left: 22.3%;
}