	body {
 	 		margin: 0;
 	} 
 	.flex-container {
            display: flex;  /* 컨테이너들 수직정렬 */
    }  
 	 .flex-container.flex-end {			/* user님 로그아웃 오른쪽 정렬 */
    		justify-content: flex-end;  /* 컨테이너의 아이템 오른쪽정렬 */
    } 
    a {          
          	padding-bottom: 10px; 
          	color: inherit;          
   	}
   	ul > li > a {
          	display: inline-block;
          	position: relative;
    }
    ul > li > a:after {
	        content:"";
	        position: absolute;
	        left: 50%;
	        bottom: 0;
	        width: 0;
	        height: 2px;
	        background-color: #5A8DF3;
	        transition: all .5s;
	}
    ul > li > a:before {
          	content:"";
         	position: absolute;
          	right: 50%;
          	bottom: 0;
          	width: 0;
          	height: 2px;
          	background-color: #5A8DF3;
          	transition: all .5s;
    }
    ul > li > a:hover:after {
          	width: 50%
    }
    ul > li > a:hover:before {
          width: 50%
    }
    .item_first {
    		margin-right: 10%; /* user님 로그아웃 오른쪽마진 10% */
    }
    .item_first ul li { 
			list-style: none;  /* 리스트 점 제거 */
			padding-right: 30px;  /* 글자 사이 오른쪽 간격 */
			float: left;  /* 리스트 가로 정렬 - 삭제하면 리스트 세로로 정렬됨 */
			font-size: 14px; 
			color: black; 
	}
	.item_first ul li a {
			text-decoration: none;  /* 글자 밑줄 제거 */
	}
	.item_second { 
			margin-left: 10%;
			margin-bottom: 10px; 
	}
	.item_second ul li {
			list-style: none;  /* 리스트 점 제거 */
			padding-right: 25px;  /* 글자간 패딩 간격 */
			float: left;  /* 리스트 가로 정렬 */
			font-size: 25px;  /* 중앙볼링장 글씨 크기 */
			font-weight: bolder;  /* 글씨 굵게 */
			color: black;
	}
	.item_second ul li a {
			font-size: 15px;
			text-decoration: none;  /* 글자 밑줄 제거 */
			font-weight: 600;
	}  
	.item_third {
			margin-left: 15%;
			margin-top: 50px;
			color: #5A8DF3;
			font-size: 20px; 
			font-weight: bolder;
	} 
	.flex-container.center {
			justify-content: center;
	}
	.item_fourth { 
			margin-bottom: 60px;
	} 
	.item_fourth ul li {
			list-style: none;
			padding-right: 40px;
			float: left;
			color: black;
	}
	.item_fourth ul li a {
			font-size: 17px;
			font-weight: bolder; 
			text-decoration: none;  /* 글자 밑줄 제거 */
	}
	td {
			padding: 10px;  
	}
	input {
			height:30px;  /* 입력창 높이 */
			border-radius: 12px;  /* 테두리 모서리 둥굴게 */
			border: 1;  /* 테두리 두께 */
			border-color: #EAEAEA; /* 테두리 색상 */
	}
	label {
			font-size: 15px;
			line-height: 2rem;
			padding: 0.2em 0.4em;
	}
	span {
  			vertical-align: middle;
	}
	[type="radio"] {
  			vertical-align: middle;
  			appearance: none;
  			border: max(2px, 0.1em) solid gray;
  			border-radius: 50%;
  			width: 1.25em;
  			height: 1.25em;
  			transition: border 0.5s ease-in-out;
	}
	[type="radio"]:checked {
			border: 0.4em solid #90C3FF;
	}
	.select {
			-o-appearance: none;
			width: 100px;
  			height: 35px;
  			border: 1;
  			border-color: #EAEAEA;
  			border-radius: 12px;
  			outline: 0 none;
  			font-size: 15px; 
			
	}
	.item_sixth {
 			margin-top: 50px;   /* 버튼 마진 */
 			margin-bottom: 100px;   /* 버튼 마진 */
 	}
 	button {
			position: relative;
			border: 0;
			margin-right: 30px;
			height: 40px;
			width: 80px;
			background-color: #90C3FF;
			text-align: center;
			font-weight: bold; 
			color: white; 
			border-radius: 12px;
			box-shadow: 0px 3px 0px #5A8DF3; 
	}
	button:active { 
			box-shadow: 0 0 #90C3FF; 
			background-color: #90C3FF;
			top: 3px;
	}
	#wrapper {
			height: 100%;
	}
	.item_end {   
			margin-top: 30px; 
			width: 100%;  
			background-color: black;
    		color: white;
    		font-size: 12px;
		    display: flex; 
		    height: 100px;
		    flex-direction: column;
		    align-content: center;
		    justify-content: space-around;
		    align-items: center;
	}