@charset "UTF-8";
div {                      
		border: 1px solid white;
		}
	body {
		margin: 0;			
	}
	/* -------------------------------------------------------------------- */	
	#wrapper {
			height: auto;
			min-height: 100%;
			padding-bottom: 130px;
	}
	.flex-container {
            display: flex;  /* 컨테이너들 수직정렬 */
    }  
    .flex-container.flex-end {
    		justify-content: flex-end;  /* 컨테이너의 아이템 오른쪽정렬 */
    } 
    .item_first {
    		margin-right: 10%; 
    }
	.item_first ul li { 
			list-style: none;  /* 리스트 점 제거 */
			padding-right: 30px;  /* 글자 사이 오른쪽 간격 */
			float: left;  /* 리스트 가로 정렬 - 삭제하면 리스트 세로로 정렬됨 */			 
			color: black; 
	} 
	.item_first ul li a {
			text-decoration: none;
			font-size: 15px;
			
	}
	.item_second { 
			margin-left: 10%;
			margin-bottom: 10px; 
	}
	.item_second ul li {
			list-style: none;
			padding-right: 25px;
			float: left;
			font-size: 25px;
			color: black;
	}
	.item_second ul li a {
			font-size: 15px;
			text-decoration: none;  /* 글자 밑줄 제거 */
	}  
	.item_third {
			margin-left: 15%;
			margin-top: 50px;
			color: #5A8DF3;
			font-size: 17px; 
			font-weight: bolder;
	} 
	
	.flex-container.center {
			justify-content: center;
	}
	.item_fourth { 
			margin-bottom: 40px;
	} 
	.item_fourth ul li {
			list-style: none;
			padding-right: 40px;
			float: left;
			color: black;
	}  
	.item_fourth ul li a {
			font-size: 18px;
			font-weight: bolder; 
			text-decoration: none;  /* 글자 밑줄 제거 */
	}
	
	/* -------------------------------------------------------------------- */
	/* 밑줄효과 */
	a {		    
		    padding-bottom: 10px;
		    color: inherit;		    
	}
	ul > li > a {
		    display: inline-block;
		    position: relative;
	}
	ul > li > a:after {
		    content:"";
		    position: absolute;
		    left: 50%;
		    bottom: 0;
		    width: 0;
		    height: 2px;
		    background-color: #5A8DF3;
		    transition: all .5s;
	}
	ul > li > a:before {
		    content:"";
		    position: absolute;
		    right: 50%;
		    bottom: 0;
		    width: 0;
		    height: 2px;
		    background-color: #5A8DF3;
		    transition: all .5s;
	}
	ul > li > a:hover:after {
    		width: 50%
	}
	ul > li > a:hover:before {
    		width: 50%
	}
	
	
	#content_container	{
		text-align: center;
	}
	
	#test_table {
		margin : auto;
		border-collapse: collapse;
		margin-top: 150px;
	}
	
	#test_table caption {
		text-align: left;
	}
	
	#test_table td {
		border-bottom: 1px solid black;
		border-top: 1px solid black;
		width: 100px;
		height: 50px;
	}
	
	#test_table thead {
		background-color: #90C3FF;
	}
	
	#cancel_select{
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            margin-right: -1px;
    	}
    #cancel_btn{
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;    
            margin-left: -1px;
        }
    #cancel_select, #cancel_btn{
            border: 2px solid skyblue;
            background-color: rgba(0,0,0,0);
            color: skyblue;
            padding: 5px;
            width: 100px;
            height: 40px;
            border-collapse: collapse;
        }
    #cancel_select:hover, #cancel_btn:hover{
            color:white;
            background-color: skyblue;
        }
	
	/* -------------------------------------------------------------------- */
	/* 하단내용 영역 */							   
	#footer {
			clear: both; 				/* 양쪽 float 해제(contents,sidebar의 float을 따라가지 않는다.) */
			padding: 20px;    			/* 테두리 안에 여백 */
			background-color: black;    /* 영역 배경 색상 */
			color: white;               /* 글자 색상 */
			}
	nav {
		text-align: center;  /* 글자 정렬 */
		}