@charset "UTF-8";
	body, html {
		margin: 0;
	}
	/* -------------------------------------------------------------------- */	
	#wrapper {
			height: 100%;
	}
	.flex-container {
            display: flex;  /* 컨테이너들 수직정렬 */
    }  
    .flex-container.flex-end {
    		justify-content: flex-end;  /* 컨테이너의 아이템 오른쪽정렬 */
    } 
    .item_first {
    		margin-right: 10%; 
    }
	.item_first ul li { 
			list-style: none;  /* 리스트 점 제거 */
			padding-right: 30px;  /* 글자 사이 오른쪽 간격 */
			float: left;  /* 리스트 가로 정렬 - 삭제하면 리스트 세로로 정렬됨 */
			font-size: 14px;			 
			color: black; 
	} 
	.item_first ul li a {
			text-decoration: none;
			
	}
	.item_second { 
			margin-left: 10%;
			margin-bottom: 10px; 
	}
	.item_second ul li {
			list-style: none;
			padding-right: 25px;
			float: left;
			font-size: 25px;
			color: black;
			font-weight: bolder;
	}
	.item_second ul li a {
			font-size: 15px;
			text-decoration: none;  /* 글자 밑줄 제거 */
	}  
	.item_third {
			margin-left: 15%;
			margin-top: 50px;
			color: #5A8DF3;
			font-size: 20px; 
			font-weight: bolder;
	} 
	
	.flex-container.center {
			justify-content: center;
	}
	.item_fourth { 
			margin-bottom: 40px;
	} 
	.item_fourth ul li {
			list-style: none;
			padding-right: 40px;
			float: left;
			color: black;
	}  
	.item_fourth ul li a {
			font-size: 18px;
			font-weight: bolder; 
			text-decoration: none;  /* 글자 밑줄 제거 */
	}
	
	/* -------------------------------------------------------------------- */
	/* 밑줄효과 */
	a {		    
		    padding-bottom: 10px;
		    color: inherit;		    
	}
	ul > li > a {
		    display: inline-block;
		    position: relative;
	}
	ul > li > a:after {
		    content:"";
		    position: absolute;
		    left: 50%;
		    bottom: 0;
		    width: 0;
		    height: 2px;
		    background-color: #5A8DF3;
		    transition: all .5s;
	}
	ul > li > a:before {
		    content:"";
		    position: absolute;
		    right: 50%;
		    bottom: 0;
		    width: 0;
		    height: 2px;
		    background-color: #5A8DF3;
		    transition: all .5s;
	}
	ul > li > a:hover:after {
    		width: 50%
	}
	ul > li > a:hover:before {
    		width: 50%
	}
	
	/* -------------------------------------------------------------------- */	
	#content_container	{
		text-align: center;
		padding-bottom: 130px;
	}
	#jijum {
			width: 80px; 
			padding: .8em .5em; 
			border: 1px solid skyblue;
			font-family: inherit;  
			background: url('../images/arrow.png') no-repeat 95% 40%/20px auto; 
			border-radius: 5px; 
			-webkit-appearance: none; 
			-moz-appearance: none;
			appearance: none;
			cursor: pointer;
			margin-bottom: 5px;
	}
	#many {
			width: 50px; 
			padding: .4em .2em; 
			border: 1px solid skyblue;
			font-family: inherit;  
			background: url('../images/arrow.png') no-repeat 95% 40%/20px auto; 
			border-radius: 5px; 
			-webkit-appearance: none; 
			-moz-appearance: none;
			appearance: none;
			cursor: pointer;
	}
	caption, #frm {
		text-align: left;
	}
	#color_info{
		float: right;
		vertical-align: middle;
	}
	#color_info img{
		width: 30px;
		height: 30px;
		vertical-align: middle;
	}
	.possible{
		background-color : skyblue;
		cursor: pointer;
	}
	.impossible{
		background-color : #E74C3C;
	}
	.checked{
		background-color : lightgreen;
	}
	.cantSelect{
		background-color : lightgray;
	}
	.selectDate{
		background-color : cyan !important;
	}
	.date{
		width: 30px;
		height: 20px;
		background-color : pink;
		cursor: pointer;
	}
	.cantDate, .notDate{
		width: 30px;
		height: 20px;
		background-color : lightgray;
	}
	.notDate{
		width: 30px;
		height: 20px;
		background-color: lightgray;
	}
	#test_table{
		clear:both;
		border-collapse: collapse;
		margin: 0 auto;
		margin-top: 400px;
	}
	#test_table th {
		width: 80px;
		height: 40px;
		font-size : 0.9em;
	}
	#dateSelectCon {
		width: 70%;
		margin: 0 auto;
	}
	#today {
		font-size: 25px;
		font-weight: bolder;
		margin-left: 50px;
	}
	#calendar {
		float: left;
		text-align: center;
		width: 300px;
		height: 250px;
		border-collapse: collapse;
	}
	#calendar td,#calendar th {
		width: 40px;
		height: 32px;
	}
	#calendar th {
		border : 1px solid skyblue;
		border-radius: 5px;
	}
	#msg {
		width: 200px;
		height: 200px;
		margin: left;
	}
	#timeTableCon {
		margin: 20px;
		padding-bottom: 240px;
	}
	#reset, #insert{
            border: 2px solid skyblue;
            background-color: rgba(0,0,0,0);
            color: skyblue;
            font-size: medium;
            font-weight: bold;
            padding: 5px;
            width: 80px;
            height: 40px;
            border-collapse: collapse;
            border-radius: 5px;
            cursor: pointer;
    }
    #reset{
    	margin: 5px;
    } 
    #next, #prev{
            border: 1px solid skyblue;
            background-color: rgba(0,0,0,0);
            color: black;
            padding: 5px;
            width: inherit;
            height: inherit;
            border-collapse: collapse;
            border-radius: 5px; 
            cursor: pointer;
    }
    #reset:hover, #insert:hover, #next:hover, #prev:hover{
            color:white;
            background-color: skyblue;
            font-size: medium;
            font-weight: bold;
    }
	#form_container{
			width: 250px;
			height:300px;
			float: right;
	}
	/* -------------------------------------------------------------------- */
	/* 하단내용 영역 */							   
	a.button_top {
		text-decoration: none;
		display: block; 
		position: relative;
		width: 50px;
		padding: 0;
		margin: 20px;
		font-weight: 600;
		text-align: center;
		line-height: 50px;
		color: #FFF;
		border-radius: 50px;
		transition: all 0.2s ;
		background: #90C3FF;
		box-shadow: 0px 0px 0px 0px #5A8DF3;
	}
	.button_top:hover {
		box-shadow: 0px 0px 0px 5px #5A8DF3;
	}
	.item_end {   
			margin-top: 30px; 
			width: 100%;  
			background-color: black;
    		color: white;
    		font-size: 12px;
		    display: flex; 
		    height: 100px;
		    flex-direction: column;
		    align-content: center;
		    justify-content: space-around;
		    align-items: center;
	}