@charset "UTF-8";
	div {                      
		border: 1px solid white;
	}
	body, html {
		padding: 0;
		margin: 0;
		height: 100%;
	}
	/* -------------------------------------------------------------------- */	
	#wrapper {
			min-height: 100%;
			position: relative;
	}
	.flex-container {
            display: flex;  /* 컨테이너들 수직정렬 */
    }  
    .flex-container.flex-end {
    		justify-content: flex-end;  /* 컨테이너의 아이템 오른쪽정렬 */
    } 
    .item_first {
    		margin-right: 10%; 
    }
	.item_first ul li { 
			list-style: none;  /* 리스트 점 제거 */
			padding-right: 30px;  /* 글자 사이 오른쪽 간격 */
			float: left;  /* 리스트 가로 정렬 - 삭제하면 리스트 세로로 정렬됨 */			 
			color: black; 
	} 
	.item_first ul li a {
			text-decoration: none;
			font-size: 15px;
			
	}
	.item_second { 
			margin-left: 10%;
			margin-bottom: 10px; 
	}
	.item_second ul li {
			list-style: none;
			padding-right: 25px;
			float: left;
			font-size: 25px;
			color: black;
			font-weight: bolder;
	}
	.item_second ul li a {
			font-size: 15px;
			text-decoration: none;  /* 글자 밑줄 제거 */
	}  
	.item_third {
			margin-left: 15%;
			margin-top: 50px;
			color: #5A8DF3;
			font-size: 17px; 
			font-weight: bolder;
	} 
	
	.flex-container.center {
			justify-content: center;
	}
	.item_fourth { 
			margin-bottom: 40px;
	} 
	.item_fourth ul li {
			list-style: none;
			padding-right: 40px;
			float: left;
			color: black;
	}  
	.item_fourth ul li a {
			font-size: 18px;
			font-weight: bolder; 
			text-decoration: none;  /* 글자 밑줄 제거 */
	}
	
	/* -------------------------------------------------------------------- */
	/* 밑줄효과 */
	a {		    
		    padding-bottom: 10px;
		    color: inherit;		    
	}
	ul > li > a {
		    display: inline-block;
		    position: relative;
	}
	ul > li > a:after {
		    content:"";
		    position: absolute;
		    left: 50%;
		    bottom: 0;
		    width: 0;
		    height: 2px;
		    background-color: #5A8DF3;
		    transition: all .5s;
	}
	ul > li > a:before {
		    content:"";
		    position: absolute;
		    right: 50%;
		    bottom: 0;
		    width: 0;
		    height: 2px;
		    background-color: #5A8DF3;
		    transition: all .5s;
	}
	ul > li > a:hover:after {
    		width: 50%
	}
	ul > li > a:hover:before {
    		width: 50%
	}
	
	
	#content_container	{
		text-align: center;
		padding-bottom: 130px;
	}
	
	#jijum{
			width: 150px; 
			padding: .8em .5em; 
			border: 1px solid skyblue;
			font-family: inherit;  
			background: url('../images/arrow.png') no-repeat 95% 40%/20px auto; 
			border-radius: 5px; 
			-webkit-appearance: none; 
			-moz-appearance: none;
			appearance: none;
			cursor: pointer;
			}
	
	#many{
			width: 150px; 
			padding: .4em .2em; 
			border: 1px solid skyblue;
			font-family: inherit;  
			background: url('../images/arrow.png') no-repeat 95% 40%/20px auto; 
			border-radius: 5px; 
			-webkit-appearance: none; 
			-moz-appearance: none;
			appearance: none;
			cursor: pointer;
	}
	
	caption, #frm {
		text-align: left;
	}
	#color_info{
		float: right;
	}
	
	#color_info img{
		width: 30px;
		height: 30px;
	}
	#calendar tbody{
		border: 1px solid black;
	}
	.possible{
		background-color : skyblue;
		cursor: pointer;
	}
	.impossible{
		background-color : #E74C3C;
	}
	.checked{
		background-color : lightgreen;
	}
	.cantSelect{
		background-color : lightgray;
	}
	.selectDate{
		background-color : cyan !important;
	}
	
	.date{
		width: 30px;
		height: 20px;
		background-color : pink;
		cursor: pointer;
	}
	.cantDate, .notDate{
		width: 30px;
		height: 20px;
		background-color : lightgray;
	}
	.notDate{
		width: 30px;
		height: 20px;
		background-color: lightgray;
	}
	#test_table{
		clear:both;
		border-collapse: collapse;
		margin: 0 auto;
		margin-top: 350px;
	}
	
	
	#test_table th {
		width: 80px;
		height: 40px;
		font-size : 0.9em;
		min-width: 80px;
	}
	
	#dateSelectCon{
		width: 70%;
		margin: 0 auto;
	}
	#today{
		font-size: 25px;
		font-weight: bolder;
		margin-left: 50px;
	}
	
	#calendar{
		float: left;
		text-align: center;
	}
	
	/* h2{
		color : navy;
	} */
	#msg{
		width: 200px;
		height: 200px;
		margin: left;
	}
	#timeTableCon {
		margin: 20px;
		padding-bottom: 240px;
	}
	
	#reset, #insert{
            border: 2px solid skyblue;
            background-color: rgba(0,0,0,0);
            color: black;
            padding: 5px;
            width: 100px;
            height: 40px;
            border-collapse: collapse;
            border-radius: 5px;
            cursor: pointer;
    }
    
    #next, #prev{
            border: 1px solid skyblue;
            background-color: rgba(0,0,0,0);
            color: black;
            padding: 5px;
            width: 30px;
            height: 30px;
            border-collapse: collapse;
            border-radius: 5px; 
            cursor: pointer;
    }
    
    #reset:hover, #insert:hover, #next:hover, #prev:hover{
            color:white;
            background-color: skyblue;
    }
	#form_container{
			width: 250px;
			height:300px;
			float: right;
	}
	/* -------------------------------------------------------------------- */
	/* 하단내용 영역 */							   
	#footer {
				width : 100%;
				height : 100px;
				padding: 20px;    			/* 테두리 안에 여백 */
				background-color: black;    /* 영역 배경 색상 */
				color: white;               /* 글자 색상 */
				bottom: 0;
				left : 0;
				position: absolute;
				min-width: 700px;
			}
	nav {
		text-align: center;  /* 글자 정렬 */
		}